<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8" />
	<title>Password Generator</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

	<script>
		function refreshPage() {
			location.reload();
		}
	</script>
</head>
<body>
<div class='row'>
	<div class='col-md-10 col-md-offset-1'>
		<div id='main'>
			<div class='row'>
				<div class='col-md-4 col-md-offset-4'>
					<div id='header'>
						<h1>Password</br>Generator</h1>
						<img src="{{ url_for('static', filename='lock.png') }}" height='120px'>
					</div>
				</div>
			</div>
			<div id='content'>
				<p><h3>Here's a randomly generated password:</h3></p>
				<div id='passwd'>
					<p><h4>{{ get_pass() }}</h4></p>
				</div>
				<button onclick="refreshPage()" type='button' class='btn btn-default'>Get Another</button>
			</div>
			<div id='footer'>
				Source: <a href="https://github.com/tbell83/password_generator">password_generator</a>
				Tom Bell 2015
			</div>
		</div>	
	</div>
</div>
</body>
</html>
