<!DOCTYPE html>
<html lang='en'>
<head>
  <title>tombellNJ.com</title>
</head>
<body>
  <ul>
    <a href='http://mail.tombellnj.com' target='blank'>Mail</a>
    <a href='https://github.com/tbell83/stuff/blob/master/README.md' target='blank'>Resumé</a>
    <a href='http://www.github.com/tbell83' target='blank'>Github</a>
    <a href='https://www.linkedin.com/pub/thomas-bell/1a/958/733/' target='blank'>LinkedIn</a>
    <a href='http://amzn.com/w/19X7SMJQ8NDT9' target='blank'>Amazon Wishlist</a>
    <a href='https://www.etsy.com/shop/Woodcrafted' target='blank'>Etsy Store</a>
  </ul>
</body>
</html>
