<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8" />
	<title>tombellNJ.com EC2</title>
<!--	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}">
</head>
<body>
	<div class='row'>
		<div class='col-md-8 col-md-offset-2'>
			<ul>
				<li><a href='http://mail.tombellnj.com' target='blank'>Mail</a></li>
				<li><a href='http://tbell83.github.io/Resume/' target='blank'>Resume</a></li>
				<li><a href='http://www.linkedin.com/pub/thomas-bell/1a/958/733/' target='blank'>LinkedIn</a></li>
				<li><a href='http://www.github.com/tbell83' target='blank'>Github</a></li>
				<li><a href='http://amzn.com/w/19X7SMJQ8NDT9' target='blank'>Amazon Wishlist</a></li>
				<li><a href='https://www.etsy.com/shop/Woodcrafted' target='blank'>Etsy Store</a></li>
				<li><a href='https://dl.google.com/tag/s/appguid%3D%7B8A69D345-D564-463C-AFF1-A69D9E530F96%7D%26iid%3D%7B4E8C287D-A952-385F-6167-13C431042D28%7D%26lang%3Den%26browser%3D4%26usagestats%3D0%26appname%3DGoogle%2520Chrome%26needsadmin%3Dtrue%26ap%3Dx64-stable/update2/installers/ChromeStandaloneSetup64.exe'>Download Chrome for Windows</a>
                <!-- <li><a href='' target='blank'></a></li> -->
			</ul>
            <p>
                <h1>Projects:</h1>
                <a href='http://ec2.tombellnj.com/password' target='blank'>Password Generator</a>
            </p>
		</div>
	</div>
</body>
</html>
